<table class="table container-fluid mb-2">
  <thead>
    <tr>
      <th class="col">id</th>
      <th class="col">name</th>
      <th class="col">path</th>
      <th class="col">startDate</th>
      <th class="col">
        <span style="font-weight: 400; font-style: normal"><b>finishDate</b></span>
      </th>
    </tr>
  </thead>
  <tbody id="sprint-details-table">
    <tr>
      <td>a</td>
      <td>a</td>
      <td>a</td>
      <td>a</td>
      <td>a</td>
      <!-- <td><input class="form-check-input claimCheck" type="checkbox" (change)="toggleInput($event)" value="false" id="flexCheckDefault" /></td>-->
    </tr>
  </tbody>
</table>

